:root {
    --success: #198754;
    --warning: #ffc107;
    --danger: #dc3545;
}

body {
    font-family: sans-serif;
    background-color: rgba(214, 214, 214, 0.5);
    margin: 30px;
}

.hidden {
    display: none;
}

/*btn_flotante*/
md-fab {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}

/*formulario*/
#form_sucursal {
    display: grid;
    gap: 20px;
}

/* contenido de lista*/
.content_list {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

md-filled-tonal-button:first-child {
    margin-right: 10px;
}

md-list md-list-item a {
    color: black;
    text-decoration: none;
}

md-list md-list-item p {

    background-color: #dc3545;
}